<ion-modal-view class="modal-login modal-inspius">
  <ion-content overflow-scroll="false">
    <div class="header">
      <a class="close" ng-click="closeLogin()"><i class="is-icon-back"></i></a>
      <div class="logo">
        <img src="img/logo.png">
      </div>
    </div>
    <form name="loginForm" ng-submit="doLogin(loginForm)" novalidate="">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="is-icon-avatar"></i>
          <input type="text" name="username" ng-model="loginData.username" required placeholder="Usuario">
        </label>
        <div class="invalid-required" ng-show="loginForm.username.$error && loginForm.$submitted">* El Usuario es Requerido</div>
        <label class="item item-input">
          <i class="is-icon-padlock"></i>
          <input type="password" name="password" ng-model="loginData.password" placeholder="Clave" required>
        </label>
        <div class="invalid-required" ng-show="loginForm.password.$error && loginForm.$submitted">* La Clave es Requerida</div>
        <label class="item item-button">
          <button class="button button-block button-positive" type="submit">Entrar</button>
        </label>
        <a href="#" ng-click="forgotPassword()" class="forgot-password">Recuperar Clave</a>
      </div>
    </form>
    <div class="footer">      
      <div class="link" ng-click="register()">
        <a href="#">Registrate para Ingresar <i class="is-icon-next"></i></a>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
